/*
	Date: May 28, 2014
	Version: 1.0
	Author: Rakibul Islam
*/

/* Reset */

html, body {margin:0; padding:0; border:0; background:transparent; font-size:100%; }

div,span,article,aside,footer,header,hgroup,nav,section,h1,h2,h3,h4,h5,
h6,p,blockquote,a,ol,ul,li,table,tr,th,td,tbody,tfoot,thead {
	margin:0; padding:0; vertical-align:baseline; background:transparent; }
	
img {margin:0; padding:0; border:0; }

table,tr,th,td,tbody,tfoot,thead {
	margin:0; padding:0; border: 0; vertical-align:baseline; background:transparent ; }
	
table {border-collapse:collapse; border-spacing:0; }

input,select,textarea,form,fieldset{
	margin:0; padding:0; border:0; }
	
article, aside,dialog,figure,footer,header,hgroup,nav,section{ display:block; }

h1,h2,h3,h4,h5,h6,p,li,blockquote,td,th,a,caption,em,strong,strike{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:100%; font-weight:normal;
	font-style:normal; line-height:1.5; text-indent:0; text-decoration:none;
	text-align:left; color:#555; }

ol,ul {list-style:none; }

/* Headings */

h1,h2,h3,h4,h5,h6 {font-weight:bold; color:#000; }

h1 {font-size:125%; padding-bottom:15px; border-bottom:1px #ccc solid; margin:15px 0; color:#406DA5;}
h2 {font-size:120%; margin-bottom:10px;}
h3 {font-size:115%; }
h4 {font-size:100%; }
h5 {font-size:100%; }
h6 {font-size:100%; }

h1 img,h2 img,h3 img,h4 img,h5 img,h6 img {margin:0; }

/* Global */

html { }
body { 
	background:url(../images/extra_clean_paper.png) repeat; 
	font-size:90%;
}

/* main menu
----------------------------*/
#ddmenu
{
    display:block;
    font-family:Arial;
    text-align:center;
    letter-spacing:normal;
}

#ddmenu ul
{ 
    width:100%;
    margin:0 auto;
    padding:0;
    font-size:0;
    background:#002a5b;
    box-shadow: inset 0px 0px 12px #012;
    border:1px solid transparent;
    display:inline-block;
    list-style:none;
    position:relative;
    z-index:999999990;
    visibility:hidden;
	border-radius:5px;
}

#ddmenu li
{
    margin:0;
    padding:0;
    font-size:13px;
    display:inline-block;
    position:relative;
    color:#EEF4FB;
}

#ddmenu a
{
    color:#EEF4FB;
    padding:0 25px;
    line-height:50px;
    font-weight:bold;
    text-decoration:none;
    display:inline-block;
    outline:0;
    position:relative;
    white-space:nowrap;
}


/* links without sub-menu */
#ddmenu li.over a
{
    background-color:#406DA5;
    color:#FFFFFF;
}

/* links with sub-menu */
#ddmenu a.arrow
{
    background-image:url(../images/arrow2.gif);
    background-repeat:no-repeat;
    background-position:right center;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
}
#ddmenu li.over a.arrow
{
    background-color:white;
    color:#036;
    border-left:1px solid #9AB;
    border-right:1px solid #9AB;
}   

#ddmenu li > div
{
    padding:0;
    margin:0;
    display:none;
}              
        
/* sub-menu layout
--------------------------------------------*/

#ddmenu div.drop
{
    position:absolute;
    text-align:left;
    border:1px solid #9AB;
    background:white;
    padding:20px;
    color:#333333;
    line-height:30px;
    font-size:13px;
    font-family: Arial;
    font-weight:500; 
    border-radius:0 0 10px 10px;
    box-shadow: 1px 6px 9px rgba(0,0,0,0.2);
}
  
/* sub-menu offset
--------------------------------------------*/

#ddmenu div.drop
{
    left:0px;/*Use this property to change offset of the sub-menu*/
}
#ddmenu div.dropToLeft
{
    left:auto; right:0px;
}
#ddmenu div.dropToLeft2
{
    left:auto; right:-100px;
}
  
/* links in sub menu
----------------------------*/

#ddmenu div.drop a
{
    line-height:20px;
    font-size:1em;
    font-family: Arial;
    font-weight:normal; 
    color:#003399;
    text-decoration:none;    
    display:block;
    text-align:left;    
    position:static;
    background:none;
    background-image:none;
    padding:0 0;
}

#ddmenu div.drop a:hover
{
    text-decoration:underline;
    color:#0099FF;
}

/* blocks within the sub-menu
----------------------------*/

#ddmenu div.drop div
{
    background:none;    
}  

#ddmenu div.column
{
    width:160px;
    float:left; /*align each column in one row*/
    padding:0 10px; /*padding of each column*/
}

#ddmenu div.column div
{
   padding:0px 10px; /*sub-div within div.column. 10px for indent.*/
}


/*######## add additional styles for mobile-friendly responsive menu ########*/
#ddmenu div.menu-icon   
{
    display:none; /* hide menu icon initially */
}

#ddmenu li.hide1 {float:left;} 

/*styles for responsive menu*/
@media only screen and (min-width: 550px) and (max-width: 850px) 
{	
    #ddmenu li {
        text-align:left;
	    width:50%; /*or 33%*/
        border-bottom: 1px dotted #6677AA;  
    }
    #ddmenu li.hide1 {display:none;}/*hide elements that is not needed in this layout */
    
    #ddmenu a {
        padding:0 50px;
    }    
}

/*styles for mobile*/
@media only screen and (max-width: 550px) 
{
    #ddmenu li.hide1 {display:none;}/*hide elements that is not needed in mobile */
    
    #ddmenu div.menu-icon  {
		width: 40px;
		height:40px;
		background: transparent url(../images/buttons.png) no-repeat center 2px;
		display: block; /*or inline-block*/
		cursor: pointer;
		-moz-user-select:none;		
        -webkit-user-select: none;
         
        /*align the icon to the right*/
        margin-left:auto;
        margin-right:4px;
		padding:5px;
	}
	
    #ddmenu div.menu-icon-active {
		background-color: #7ba4d9;
		background-position:center -30px;
        border-radius:3px 3px 0 0;
    }
	
	/*override the original settings*/
	#ddmenu ul {
		width: 100%; 
		display: none;
		background:#002a5b;
		border: none; 
		border-top:4px solid #7ba4d9;
        border-radius:0; 
	}
	
    #ddmenu li {
		float: none!important;
        display:block;
        width:100%;
        font-size:13px;
        font-family: Georgia, Arial;
        text-align:left;
	    border-top: 1px solid #003679;
	    border-bottom: 1px solid black;
    }
	
    #ddmenu a.arrow
    {
        background-image:url(../images/buttons.png);
        background-position:right -90px;
    }
    
    #ddmenu li.over a.arrow {
        background-color:#E1E5FF;
        background-position:right -160px;
    }

    #ddmenu a {
        display:block;
    }
    
	#ddmenu div.drop {
	    position:relative;
        border-top-color:transparent;
        border-radius:0;
        box-shadow:none;
	}
    
    #ddmenu div.drop, #ddmenu div.dropToLeft, #ddmenu div.dropToLeft2 {
        left:0px; right:auto;
    }
    
    /*turn each column to list vertically instead of horizontally */
    #ddmenu div.column {
        width:auto;
        float:none;
        padding:0;
    }
}


/* banner */

.banner {
	margin-bottom:1%;
	position: relative;
	width: 100%;
	height:100%;
	overflow: auto;
	z-index:1;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: rgba(255,255,255,.6);
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
	background: #5b4d3d;
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.banner ul {
	list-style: none;
	width: 100%;
}

.banner ul li {
	display: block;
	float: left;
	width: 100%;
	min-height: 350px;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
}

.banner .inner {
	padding: 160px 0 110px;
}

.banner h3, .banner p {
	font-size: 30px;
	line-height: 32px;
	text-align:center;
	color: #fff;
}

.banner .btn {
	display: inline-block;
	margin: 25px 0 0;
	padding: 9px 22px 7px;
	clear: both;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid rgba(255,255,255,.4);
	border-radius: 5px;
}

.banner .btn:hover {
	background: rgba(255,255,255,.05);
}

.banner .btn:active {
	-webkit-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
	-moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
	-ms-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
	-o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
	filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
}

.banner .btn, .banner .dot {
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.banner .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}

.banner .dots li {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}

.banner .dots li.active {
	background: #fff;
	opacity: 1;
}

.banner .arrows {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #fff;
}

.banner .arrow {
	display: inline;
	padding-left: 10px;
	cursor: pointer;
}

/* Login */

.login-card {
  padding: 40px;
  width: 274px;
  background-color: #F7F7F7;
  margin: 50px auto 150px auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h4 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
   border-radius: 2px; 
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
 border-radius: 3px; 
 -webkit-user-select: none;
  user-select: none; 
}

.login-submit {
  border: 0px;
  color: #fff;
  width:100%;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
}

.login-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

#status {
	width:100%;
	text-align:center;
	margin: 10px 0;
	color:#F00;
}

/* Forget password */

.forgetpass-card {
  padding: 40px;
  width: 350px;
  background-color: #F7F7F7;
  margin: 50px auto 120px auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.forgetpass-card h3 {
  text-align: center;
  color:#555;
  font-size: 150%;
}

.forgetpass-card input[type=text] {
  height: 44px;
  font-size: 18px;
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  margin:0 auto;
  margin-top:40px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
   border-radius: 2px; 
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.forgetpass-card input[type=text]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
 border-radius: 3px; 
 -webkit-user-select: none;
  user-select: none; 
}

.login-submit {
  border: 0px;
  color: #fff;
  width:100%;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
}

.login-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

#status {
	width:100%;
	text-align:center;
	margin: 10px 0;
	font-size:120%;
	color:#F00;
}

/* Faculty */

#faculty { 
	font-weight:bold; 
	color:#666; 
	margin-bottom:20px;
}
#faculty_list { 
	border-top:1px solid #AAA; 
	padding:15px 0; 
	margin-bottom:10px;
}
#faculty_img { 
	border:1px solid #000; 
	margin:15px; 
	float:left;
}
#faculty_info { 
	color:#666;
}
#faculty_info a { 
	color:#069; 
	font-weight:bold;
}
#faculty_info a:hover { 
	text-decoration:underline;
}
#faculty_info a:active { 
	text-decoration:underline;
}
#faculty_contact { 
	color:#666; margin-top:15px;
}

/* Containers */

#wrapper1 { 
	width:100%;
}
#subwrapper1 { 
	width:80%;
	margin:0 auto;
}
#navbottomborder1 {
	border:8px solid #002A5B;
	margin-top:-16px;
}
#wrapper2 { 
	width:80%;
	margin:0 auto;
}

.mainheader img {
	margin:15px 0;
}

#search {
	float:right;
	width:250px;
	margin-top:30px;
}
#search searchbox { 
	border-radius:10px;
}

.maincontent { 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	line-height:25px;
}
.content { 
	width:70%; 
	float:left;
}
.content-full {
	width:100%;
}
.topcontent { 
	clear:both;
	background-color:#FFF; 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	line-height:25px;
	padding:3% 5%; 
}
.teacher { 
	margin:1% 0;
	background-color:#FFF;
	height:850px; 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	line-height:25px;
	padding:3% 5%; 
}
.teacher-left {
	width:48%;
	float:left;
}
.teacher-right {
	width:48%;
	float:left;
}
.teacher-right img {
	width:60%;
	border-radius:50%;
	float:right;
	margin-top:20px;
	margin-bottom:70px;
	overflow:hidden;
}
.teachertop {
	overflow:hidden;
}
.teacher ul{
	margin:30px 0;
}
.teacher h2 {
	font-size:350%;
	color:#555;
	margin-top:20px;
}
.teacher h3 {
	font-size:115%;
	color:#444;
	font-weight: bold;
	margin-top:40px;
	margin-bottom: 15px;
	border-bottom:1px solid #eee;
	padding-bottom:7px;
}
.teacher p {
	font-size:100%;
	color:#333;
	line-height:1.8;
}
#style1 {
	font-size:90%;
	color:#999;
}
#style2 {
	margin-left:10px;
	font-size:100%;
	color:#555;
}
#style2 a {
	font-size:103%;
	color:#09F;
}
#style2 a:hover {
	text-decoration:underline;
}
#style3 a:hover {
	text-decoration:underline;
}
.journal {
	width:40%;
	margin-right:3%;
	float:left;
	margin-bottom:50px;
}
.education {
	width:30%;
	float:left;
	margin-right:3%;
}
.research {
	width:22%;
	float:left;
}
.studentprofile { 
	background-color:#FFF;
	height:600px; 
	border-radius:5px; 
	margin:1.5% 0;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	line-height:25px;
	padding:3% 5%; 
}
.studentprofile h2{ 
	font-size:150%;
	margin-top:10px;
	margin-bottom:50px;
	color:#002a5b; 
	text-align:center;
	padding:10px;
	background:#DDD;
    border:1px solid transparent;	
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.studentprofile tr td {
	font-size:112%;
}
.studentprofile table {
	margin-bottom:50px;
	float:left;
}
.studentprofile img {
	border-radius: 25px;
	border:1px solid #DDD;
	width:30%;
	float:right;
	margin-right:5%;
}

.bottomcontent {
	clear:both; 
	background-color:#FFF; 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	line-height:25px; 
	padding:3% 5%;
	margin:1.5% 0;
}

.notice {
	clear:both; 
	background-color:#FFF; 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	line-height:25px; 
	padding:3% 5%;
	height:1200px;
	margin:1.5% 0;
}

.event {
	clear:both; 
	background-color:#FFF; 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	line-height:25px; 
	padding:3% 5%;
	height:1200px;
	margin:1.5% 0;
}

.news { 
	width:39.5%;
	background-color:#FFF; 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	line-height:25px; 
	padding:3% 5%;
	float:left;
	margin:1.5% 0;
	margin-right:1.5%;
}

#view-more {
	border:1px solid #06F;

	padding:5px;
	border-radius: 5px;
}

#view-more:hover {
	background-color:#06F;
	color: #FFF;
}

.events { 
	width:39%;
	background-color:#FFF; 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	line-height:25px; 
	padding:3% 5%;
	float:left;
	margin:1.5% 0;
}

#newsstyle {
	border-bottom: 1px dotted #CCC;
	padding-bottom: 7px;
}

#newstitle {
	color: #06F;
	font-size:110%;
}

#newstitle:hover {
	text-decoration:underline;
}

#date{
	color: #aaa;
	font-size:90%;
	font-style:italic;
}

.top-sidebar { 
	width:22.5%; 
	float:left; 
	background-color:#FFF;  
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	margin:1% 0 1% 1%; 
	padding:2% 3%;
}
.middle-sidebar { 
	width:22.5%; 
	float:left; 
	background-color:#FFF; 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	margin:0 0 1% 1%;
	padding:2% 3%;
}
.bottom-sidebar { 
	width:22.5%; 
	float:left; 
	background-color:#FFF;  
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	margin:0 0 1% 1%;
	padding:2% 3%;
}
.mainfooter { 
	width:100%; 
	float:left; 
	background-color:#002a5b; 
	padding-top:2%;
}
#wrapper3 { 
	width:80%; 
	margin:1% auto; 
}
#mainfooter { }
#bottomfooter { 
	border-top: 1px #406da5 dotted;
	float:left; 
	padding:1.5% 0; 
	width:100%; 
	margin-top:4%;
}
#topfooter p { 
	margin-bottom:2%;
	font-size:93%;
}
#footerinfo {
	 float:left; 
	 color:#FFF; 
	 line-height:1.8; 
	 margin-right:5%; 
	 margin-left:3.5%;
	 width:35%;
}
#footerlist { 
	float:left; 
	margin-right:3%; 
	width:15%; 
	overflow:hidden;
}
#footerlist li p { 
	color:#FFF; 
	font-size:90%;
	font-weight:bold; 
	line-height:1.8;
	padding:5px 0;   
	margin-bottom:10px;
}
#footerlist li a { 
	color:#aaa; 
	font-size:90%; 
	line-height:2.5; 
	background:url(../images/arrow.png) -10px center no-repeat; 
	padding:5px 0 5px 10px;
	transition: color 0.2s, text-decoration 0.2s;
}
#footerlist li a:hover { 
	color:#FFF;
	text-decoration:underline;
}
#footerlist li a:active { 
	color:#FFF;
	text-decoration:underline;
}
#copyright { 
	font-size:90%;
	color:#FFF;
	text-align:center;
}

/* Table */
#tablepara {
	width: 150px;
	text-align:center;
	padding: 10px;
	font-size: 110%;
	background-color: #06f;
	color: #fff;
	border-radius: 5px;
	margin: 25px auto 10px auto;
}
#tablestyle {
	width:80%; 
	margin:0 auto; 
	margin-bottom:100px; 
	margin-top:50px;
}
#tablestyle th, td {
	padding:10px;
}
#tablestyle th {
	font-weight:bold;
	color: #fff;
	background-color: #06f;
	border: 1px solid #ccc;
}

/* Page Nevigation */

#page {
	padding-top: 50px;
	width:50%;
	margin: 0 auto;
	font-size: 100%;
}
#page a {
	padding:5px;
	border: 1px solid #06F;
	border-radius: 5px;
}
#page a:hover {
	background-color: #06F;
	color:#FFF;
}

/* Select */

.styled-select select {
   background: transparent;
   width:160px;   
   padding: 8px;
   font-size: 14px;
   color:#333;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 35px;
   -webkit-appearance: none;
}
.styled-select {
   width:130px;
   float: left;
   height: 35px;
   border-radius:5px;
   overflow: hidden;
   background: url('../images/down_arrow_select.jpg') no-repeat right #ddd;
   border: 1px solid #ccc;
   margin-bottom: 20px;
   margin-right: 20px;
}
.show {
	background-color: #06F;
	padding: 8px;
	width: 130px;
	height: 35px;
	color: #FFF;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 0;
	
}

@media only screen and (min-width: 1000px) and (max-width:1150px)
{
	#wrapper1 { 
		width:100%;
	}
	#subwrapper1 { 
		width:85%;
	}
	#wrapper2 { 
		width:85%;
		font-size:92%;
	}
	#wrapper3 { 
		width:85%;
	}
	#ddmenu a{
		padding:0 20px;
	}
	#footerinfo { 
		margin-right:4%; 
		width:35%; 
		margin-left:3%;}
	#footerlist {
		margin-right:4%;
		width:15%; 
	}
}

@media only screen and (min-width: 850px) and (max-width:1000px)
{
#wrapper1 { width:100%;}	
#subwrapper1 { width:90%;}
#wrapper2 { width:90%; font-size:92%;}
#wrapper3 { width:90%;}
#ddmenu a{
		padding:0 15px;
}
#footerinfo { margin-right:2.5%; width:39%; margin-left:3.5%;}
#footerlist { margin-right:3%; width:15%;}
}

@media only screen and (min-width:550px) and (max-width:850px)
{
#wrapper1 { width:100%;}	
#subwrapper1 { width:100%;}
#wrapper2 { width:100%; font-size:92%;}
#wrapper3 { width:100%;}
#ddmenu a{
		padding:0 15px;
}
.mainfooter { margin-top:1%;}
#bottomfooter { font-size:90%;}
#footerinfo { font-size:85%; float:left; color:#FFF; line-height:1.8; padding-bottom:1.5%; font-size:93%; margin:0 5%; width:100%;}
#footerlist { float:left; margin-left:0; border-top: 0; margin:1.5% 5%; font-size:94%; width:86%; background-color:rgba(34,38,216,0.2); padding:10px; border-radius:10px;}
}

@media only screen and (max-width:550px)
{

#wrapper1 { width:100%;}	
#subwrapper1 { width:100%;}
#wrapper2 { width:100%; font-size:93%;}
#wrapper3 { width:100%;}	
#navbottomborder1 {
	border:none;
	margin-top:0;
}
.mainheader img { width:70%; }
.maincontent { line-height:30px; }
.login-card {
  margin: 30px auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.content { width:100%; }
.bottomcontent { margin-bottom:0;}
.news { margin-bottom:0;}
.top-sidebar { width:94%; margin:1.5% 0 0 0; padding:2% 3%; }
.middle-sidebar { width:94%; margin:1.5% 0 0 0; padding:2% 3%;}
.bottom-sidebar { width:94%; margin:1.5% 0 0 0; padding:2% 3%;}
.news { width:100%;}
.events { width:100%;}
.mainfooter { margin-top:1%;}
#bottomfooter { font-size:90%;}
#footerinfo { font-size:85%; float:left; color:#FFF; line-height:1.8; padding-bottom:1.5%; font-size:93%; margin:0 5%; width:100%;}
#footerlist { float:left; margin-left:0; border-top: 0; margin:1.5% 5%; font-size:94%; width:86%; background-color:rgba(34,38,216,0.2); padding:10px; border-radius:10px;}
}